# Dependencies
node_modules/

# Playwright outputs
test-results/
playwright-report/
allure-results/
allure-report/

# TypeScript build output
dist/

# Environment variables
.env
.env.local
.env.*.local


# IDE
.vscode/
.idea/
